# Scratch files
TODO

# Vagrant
.vagrant

# Build artifacts
*.deb

# Python packaging
build/
dist/
usr/share/static/

# Debian packaging
debian/helloworld/
debian/helloworld.*.log

debian/changelog
src/helloworld/version.py
