# Scratch files
TODO

# Vagrant
.vagrant

# Build artifacts
debian/dist/*.deb

# Python packaging
build/
dist/

# Debian packaging
debian/helloworld/
debian/helloworld.*.log
debian/changelog
debian/files
debian/usr/share/static/

# Python version file
src/helloworld/version.py
