# Scratch files
TODO

# Vagrant
.vagrant

# Build artifacts
*.deb

# Python packaging
build/
dist/
debian/usr/share/static/

# Debian packaging
debian/helloworld/
debian/helloworld.*.log
debian/changelog
debian/files

src/helloworld/version.py
